.manager {
  width: 300px;
  margin-left: 90px;
}

.header, p {
  font-family: Lato;
  color:aliceblue; }

.header {
  text-align: center;
  font-size: 2.2em;
  white-space: nowrap; }

ul {
  padding: 0;
  margin-top: 15px; }

  li {
  list-style-type: none;
  padding: 10px;
  margin-top: 10px;
  background-color:rgba(61, 120, 175, 0.411);
  border-radius: 10px;
  font-size: 1.5em;
  color: white;
}

.form2 {
  display: flex; }

.box {
  flex-grow: 1;
  font-size: 1.5em;
  max-width: 230px; 
  font-size: 22px;
  padding: 3px;
}

.add {
  margin-left:5px;
  min-width: 52px;
  flex-grow: 1; 
  font-size: 18px;
}

